body {
	background: black;
}

#estilo_imagen {
	border: 1px solid #ddd;
	border-radius: 4px;
	width: 50px;
	height: 50px;
	
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-body {
	display: flex;
}
.postcard-footer {
	text-align: center;
	background-color: white;
	padding: 10px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
	font-size: 65;
    padding-left: 20px;
	margin: 0%;
    text-transform: lowercase;
}

.body-left {
	padding: 20px;
}

.body-right {
	padding: 6px;
}

.parrafo1 {
	margin-top: 0%;
	font-size: 15;
}

.input {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color: grey;
	margin-top: 4px;
}

.input1 {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color: grey;
	margin-top: 20px;
}

button {
	text-align: center;
	background-color: grey;
}
